@import url("https://fonts.googleapis.com/css?family=Open+Sans");

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
html {
  font-family: Arial;
  font-size: 16px;
  background: #01011d;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-weight: 300;
  line-height: 1.75;
  color: #444;
  overflow-x: hidden;
}

.menu {
  position: fixed;
  top: 20px;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50px;
  height: 50px;
  background-color: rgb(61, 29, 207);
  border-radius: 50%;
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
  cursor: pointer;
  z-index: 200;
}

.menu span {
  position: relative;
  display: block;
  width: 50%;
  height: 2px;
  background-color: #fff;
  float: left;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
  z-index: 200;
}

.menu span:nth-of-type(1) {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.menu span:nth-of-type(3) {
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}

#menu {
  display: none;
}

#menu:checked ~ .menu {
  background-color: transparent;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}

#menu:checked ~ .menu span {
  background-color: rgb(224, 9, 9);
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}

#menu:checked ~ .menu span:nth-of-type(1) {
  -webkit-transform: translateY(1px) rotate(45deg);
  transform: translateY(1px) rotate(45deg);
}

#menu:checked ~ .menu span:nth-of-type(2) {
  display: none;
}

#menu:checked ~ .menu span:nth-of-type(3) {
  -webkit-transform: translateY(-1px) rotate(-45deg);
  transform: translateY(-1px) rotate(-45deg);
}

#menu:checked ~ .nav {
  left: 0px;
  -webkit-transition: left 500ms ease;
  transition: left 500ms ease;
}

#menu:checked ~ main {
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.nav {
  position: fixed;
  top: 0;
  left: -310px;
  width: 300px;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #040425;
  font-size: 0.8em;
  -webkit-transition: left 500ms ease;
  transition: left 500ms ease;
  z-index: 0;
}

.nav ul {
  position: relative;
  list-style-type: none;
  margin: 150px 0;
  padding: 0;
}

.nav ul li {
  position: relative;
  display: block;
  position: relative;
  margin: 2em 0;
}

.nav ul li a {
  position: relative;
  display: block;
  margin: 0;
  padding: 15px 20px;
  color: white;
  line-height: 4em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4em;
  color: rgba(255, 255, 255, 0.35);
}

.nav ul li.active a {
  color: white;
}

.nav ul li:not(.active)::after {
  opacity: 0.2;
}

.nav ul li:not(.active):hover a {
  color: rgba(255, 255, 255, 0.75);
}

.nav ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2em;
  background: black;
  left: 0;
  bottom: 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#5e42a6),
    to(#b74e91)
  );
  background-image: linear-gradient(to right, #5e42a6, #b74e91);
}

main {
  position: relative;
  display: block;
  width: 100%;
  padding: 80px 60px;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  z-index: 0;
}
.container {
  width: 75%;
  margin: 0 auto;
  color: #fff;
}
