.transition,
form button,
form .question label,
form .question input[type="text"] {
  -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
}

* {
  font-family: Helvetica, sans-serif;
  font-weight: light;
  -webkit-font-smoothing: antialiased;
}

html {
  background-color: rgb(17, 51, 51);
  display: flex;
  justify-content: center;
}

form {
  position: relative;
  display: inline-block;
  max-width: 700px;
  min-width: 500px;
  box-sizing: border-box;
  padding: 30px 25px;
  /* background-color: #000; */
  border-radius: 40px;
  margin: 40px 0;
  left: 50%;
  border: 1px solid cyan;
  box-shadow: 0px 0px 30px cyan;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 30%);
}
form h1 {
  color: cyan;
  font-weight: 100;
  letter-spacing: 0.01em;
  margin-left: 15px;
  margin-bottom: 35px;
  text-transform: uppercase;
}
form button {
  margin-top: 35px;
  background-color: transparent;
  border: 1px solid cyan;
  line-height: 0;
  font-size: 18px;
  display: inline-block;
  box-sizing: border-box;
  padding: 20px 15px;
  border-radius: 60px;
  color: cyan;
  font-weight: 200;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
form button:hover,
form button:focus {
  color: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 199, 236, 0.5);
  background-color: cyan;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  outline: none;
}
form .question {
  position: relative;
  padding: 10px 0;
}
form .question:first-of-type {
  padding-top: 0;
}
form .question:last-of-type {
  padding-bottom: 0;
}
form .question label {
  transform-origin: left center;
  color: cyan;
  font-weight: 100;
  letter-spacing: 0.01em;
  font-size: 17px;
  box-sizing: border-box;
  padding: 10px 15px;
  display: block;
  position: absolute;
  margin-top: -40px;
  z-index: 2;
  pointer-events: none;
}
form .question input {
  appearance: none;
  background-color: transparent;
  border: 1px solid cyan;
  line-height: 0;
  font-size: 17px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 60px;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
  color: cyan;
}
form .question input:focus {
  letter-spacing: 0.2em;
  outline: none;
  background: rgba(0, 255, 255, 0.205);
  color: white;
  margin-top: 30px;
}
form .question input:valid {
  margin-top: 30px;
}
form .question input:focus ~ label {
  -moz-transform: translate(0, -35px);
  -ms-transform: translate(0, -35px);
  -webkit-transform: translate(0, -35px);
  transform: translate(0, -35px);
}
form .question input:valid ~ label {
  text-transform: uppercase;
  font-style: italic;
  -moz-transform: translate(5px, -35px) scale(0.6);
  -ms-transform: translate(5px, -35px) scale(0.6);
  -webkit-transform: translate(5px, -35px) scale(0.6);
  transform: translate(5px, -35px) scale(0.6);
}
